.header{
    display: flex;
    flex-direction: column;
    height: 400px;
    justify-content: space-between;
    background-color: var(--color-dark);
    color: var(--color-white);
}

.p-20{
    padding: 20px;
}

.site-info{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.site-info h1{
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 16px;
}


.navbar{
    background-color: var(--color-pri);
}

.navbar li a:is(:link,:visited){
    display: block;
    color: var(--color-dark);
    padding: 10px;
    text-transform: capitalize;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    transition: all .4s linear;
}

.navbar ul{
    display: flex;
    flex-direction: column;
}

.navbar li{
    flex-grow: 1;
}

.navbar li a:is(:hover,:active,:focus){
    background-color: var(--color-dark);
    color: var(--color-pri);
    box-shadow: 1px 2px 10px hotpink;
    
}


.content-area{
    display: flex;
    flex-direction: column;
}

.post{
    margin-bottom: 20px;
   
}

.post figure{
    display: flex;
    flex-direction: column;
    background-color: var(--color-white);
    height: 100%;
}

.post img{
    display: block;
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.post h2{
    background-color: var(--color-pri);
    padding: 20px;
    text-transform: capitalize;
    text-align: center;
    color: var(--color-dark);
    font-size: bold;
}

.post p{
    padding: 20px;
    color: var(--color-dark);
}

.mb-65{
    margin-bottom: 65px;
}

.posts{
    display: flex;
    flex-direction: column;
}


/* watch section is start at this point */




.watch-card{
    display: flex;
    flex-direction: column;
    background-color: var(--color-dark);
    color:var(--color-white);
    margin-bottom: 25px;
}

.watch-card figure{
    /* height: 500px; */
    width: 100%;
}


.watch-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.watch-content{
    padding: 20px;
    width: 100%;
}



.watch-content h3{
    text-transform: capitalize;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 25px;
}



.watch-content li{
    margin-right: 7px;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 25px;
}

.watch-content p{
    margin-bottom: 25px;
}

.watch-content a{
    color:var(--color-white);
}

.mb-40{
    margin-bottom: 40px;
}

/* download section is start at this point */

.download-card{
    display: flex;
    flex-direction: column;
    background-color: var(--color-dark);
}

.download-img figure{
    width: 100%;
    /* height: 350px; */
    object-fit: cover;
}

.download-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.download-content{
    display: flex;
    flex-direction: column;
    background-color: var(--color-dark);
    color: var(--color-white);
}

.download-info{
    background-color: var(--color-white);
    color: var(--color-dark);
    display: flex;
    flex-direction: column;
}

.download-link{
    display: flex;
    flex-direction: column;
    color: var(--color-white);
    text-transform: capitalize;
    padding: 10px;
    font-size: 24px;
    text-align: center;
}

.download-info h4{
    flex:0 0 50px;
    margin-right: 10px;
    align-self: center;
}

.download-genre{
    display: flex;
    padding: 10px 0 10px  10px;
}

.download-cast{
    display: flex;
    padding: 10px 0 10px  10px;
}

.download-cast img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 5px;
}

.download-rating{
    background-color: var(--color-pri);
    color: var(--color-dark);
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}


/* gallary section is start at this point */

.gallary-images{
    display: flex;
    flex-direction: column;
}


.gallary-img a{
    display: block;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.gallary-img a img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* sidebar section is start at this point */

.sideBar-card{
    background-color: var(--color-white);
    padding: 15px;
    border-radius: 5px;
    font-weight: bold;
    margin-bottom: 20px;
}

.sideBar-card h3{
    text-transform: capitalize;
    margin-bottom: 20px;
}

.sideBar-card  a{
    color: var(--color-dark);
    padding-left: 10px;
    text-transform: capitalize;
}

@media all and (min-width:1180px){
    .navbar ul{
        flex-direction: row;
    }

    .site-info h1{
        margin-bottom: 12px;
    }

    .navbar li{
        flex-grow: 1;
    }
    
    .content-area{
        flex-direction: row;
    }

    .main-content-area{
        flex-grow: 1;
    }

    .sidebar-section{
        flex-basis: 400px;
        flex-shrink: 0;
    }

    .posts{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .post{
        flex-basis: 100%;
    }

    .one-half{
        flex-basis: 49%;
    }

    .one-third{
        flex-basis: 32%;
    }

    .mb{
        margin-bottom: 0;
    }

    .watch-card{
        flex-direction: row;
        height: 500px;
    }
    
    .watch-card .order{
        order: 1;
    }

    .watch-card figure{
        height: 100%;
        width: 400px;
    }

    .watch-img img{
        display: inline-block;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    
    .watch-content li{
        margin-right: 10px;
    }
    
    .watch-content{
        align-self: center;
    }

    .download-content{
        flex-direction: row;
        
    }

    .download-img figure{
        height: 575px;
    }
    
    .download-link{
        flex: 0 0 200px;
    }

    .download-rating{
        flex:0 0 200px
    }
    
    .download-info{
        flex:1;
    }
    
    .download-info h4{
        flex:0 0 65px;
        
    }

    .font-size{
        font-size: 20px;
    }

    .download-link{
        justify-content: center;
    }

    .download-rating{
        justify-content: center;
    }

    .download-cast img{
        width: 65px;
        height: 65px;
        border-radius: 50%;
        margin-right: 12px;
    }

    .gallary-images{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .gallary-img:nth-child(4n+1){
        width: 430px;
        height: 450px;
        flex-grow: 1;
    }

    .gallary-img:nth-child(4n+2){
        width: 475px;
        height: 450px;
        flex-grow: 1;
    }

    .gallary-img:nth-child(4n+3){
        width: 250px;
        height: 450px;
        flex-grow: 1;
    }

    .gallary-img:nth-child(4n+4){
        width: 260px;
        height: 450px;
        flex-grow: 1;
    }

    .gallary-img a{
        width: 100%;
        height: 100%;
        padding-bottom: 10px;
        padding-right: 10px;
    }

    .gallary-img a img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .gallary-section{
        padding-right: 0;
    }
}


